*{margin:0; padding:0}
.fix{
    overflow: hidden;}
.header{
    background: #000203;}
.social_media ul li{
    list-style:none;
    float: left;}
.item img{width:100%;
}
.slider{
    margin-top:40px;}
.content{background:#F5F5F5;
    margin-top:40px;}
.content img{width:100%}
.Contact_us{background:#F3FDFD;
	margin-top:30px;}
.footer{
    background: #000203;  margin-top:40px;color:#fff;
    padding:10px;}
input[type="text"]{
    height:30px;color:#000;}

input[type="submit"]{
    background:#fecd44;
    padding:3px;color:#000;height:30px;
}
h3{font-weight:bold;
font-family:tahoma;
font-size:30px;
padding:10px 10px;}
.content img{border:5px solid #fff;}
.content p{font-size:15px;text-align:justify;}
